*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #051D3B;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

.btn-search input {
    width: 752px;
    height: 56px;
    border: none;
    border-radius: 8px;
    padding: 14px 16px;
    background: rgba(255, 255, 255, 0.16);
    color: white;
}

::-webkit-input-placeholder {
    color: #FFFFFF;
    opacity: 0.64;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.perfil {
    display: flex;
    align-items: center;
    padding: 16px 12px;
    gap: 8px;
}

.perfil p {
    font-family: 'Inter', sans-serif;
    color: white;
}

main {
    margin-top: 40px;
}

.menu {
    display: inline-block;
    margin: 32px;
}

.menu p {
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    text-transform: uppercase;
    color: white;
    margin-bottom: 1em;
    letter-spacing: 5px;
}

.menu a {
    display: flex;
    align-items: center;
    gap: 16px;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    color: white;
    padding: 5px;
    border-radius: 15px;
    transition: 0.6s;
}

.menu a:hover {
    background: rgba(255, 255, 255, 0.16);
    
}

.menu .btn-comunity {
    margin-top: 16px;
}